header{
    background-color: #214297;
    color: #ffffff;
    border: none;
    padding-top:10px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: relative;
}
header h1{
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
html, body{
    margin: 0;
    padding: 0;
}
#logo{
    max-width: 80px;
    margin-left: 5%;
    margin-top: 20px;
}
.menu-hamburguer {
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-right: 5%;
}
.menu-hamburguer span {
  display: block;
  height: 4px;
  background-color: white; 
  border-radius: 2px;
}
#menu-lateral {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100vh;
  background-color: #214297;
  color: white;
  padding-top: 80px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

#menu-lateral ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

#menu-lateral li {
  margin: 20px 0;
}

#menu-lateral a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#menu-lateral a:hover {
  text-decoration: underline;
}
.menu-aberto {
  transform: translateX(0%);
}
#imagem2{
    width: 75%;
    max-width: 450px;
    margin-left: 60px;
}
.comentario{
    position: relative;
    width: 100%;
    margin: 20px 0 20px auto;
    max-width: 500px;
    text-align: right;
}
.comentario img{
    width: 100%;
    height: auto;
    display: block;
    
    
}
.comentario-texto{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-95%);
    width: 85%;
    font-size: clamp(13px,2vw,16px);
    text-align: center;
    line-height: 1.4;
}
#mensagem {
  position: relative;       
  z-index: 1;               
  text-align: right;
  margin: 0 -100px auto;
  font-size: clamp(14px, 1.2vw, 18px);
  line-height: 1.6;
}

.faixa-container{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 150px 20px;
    overflow: visible;
    margin-top: -150px;

}
.faixa {
    position:absolute;   
    left: 50%;               
    transform: translateX(-50%); 
    width: 123%;            
    display: block;     
    margin: 0 auto;      
    transform-origin: center;
    margin-top: -700px;
    z-index: -1;
}
.faixa {
    position:absolute;   
    left: 50%;               
    transform: translateX(-50%); 
    width: 123%;            
    display: block;     
    margin: 0 auto;      
    transform-origin: center;
    top: 400px;
    z-index: -1;
    padding-bottom: 40px;
}
.faixa-2 {
  top: 1100px;
}
@media (max-width: 768px) {
  .faixa-2 {
    top: 800px; 
  }
}

@media (max-width: 480px) {
  .faixa-2 {
    top: 600px; 
  }
}
.imagem-destaque {
  position: relative;
  z-index: 1;
  width: 80%;
  max-width: 680px;
  margin: 280px auto;
  display: block;
  border-radius: 40px;
}
.faixa-container p:last-of-type {
  margin-bottom: 0;
}


 