header{
    background-color: #214297;
    color: #ffffff;
    border: none;
    padding-top:10px;
    margin:0px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
header h1{
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
html, body{
    margin: 0;
    padding: 0;
}
#logo{
    max-width: 80px;
    margin-right: 450px;
}
#imagem2{
    width: 75%;
    max-width: 350px;
    margin-left: 20px;
}
.comentario{
    position: relative;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
}
.comentario img{
    width: 100%;
    height: auto;
    display: block;
}
.comentario-texto{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-95%);
    width: 80%;
    font-size: clamp(13px,2vw,16px);
    text-align: center;
    line-height: 1.4;
}