header{
    background-color: #214297;
    color: #ffffff;
    border: none;
    padding-top:10px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: relative;
}
header h1{
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.menu{
  position: relative;
}
.menu ul{
  list-style: none;   
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 90%;
  right: 40%;
  margin-top: 90px;
  margin-right: 90px;
  gap: 10px;
  z-index: 9999;
  flex-wrap: wrap; 
 }
 nav a:hover{
  color: #527ce8;
 }
 .hamburguer{
  display: block;
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
  user-select: none;
  position: fixed;
  z-index: 1000;
  top: 20px;
  right: 20px;
}
.hamburguer span{
  width: 39px;
  display: block;
  height: 5px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 5px;
}
html, body{
    margin: 0;
    padding: 0;
}
#logo{
    max-width: 80px;
    margin-left: 5%;
    margin-top: 20px;
}
#imagem2{
    width: 75%;
    max-width: 450px;
    margin-left: 60px;
}
.comentario{
    position: relative;
    width: 100%;
    margin: 20px 0 20px auto;
    max-width: 500px;
    text-align: right;
}
.comentario img{
    width: 100%;
    height: auto;
    display: block;
    
    
}
.comentario-texto{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-95%);
    width: 85%;
    font-size: clamp(13px,2vw,16px);
    text-align: center;
    line-height: 1.4;
}
#mensagem {
  position: relative;       
  z-index: 1;               
  text-align: right;
  margin: 0 10px auto;
  font-size: clamp(12px, 1.2vw, 16px);
  line-height: 1.4;
}

.faixa-container{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 150px 20px;
    overflow: visible;
    margin-top: -150px;

}
.faixa {
    position:absolute;   
    left: 50%;               
    transform: translateX(-50%); 
    width: 123%;            
    display: block;     
    margin: 0 auto;      
    transform-origin: center;
    margin-top: -700px;
    z-index: -1;
}
.faixa {
    position:absolute;   
    left: 50%;               
    transform: translateX(-50%); 
    width: 123%;            
    display: block;     
    margin: 0 auto;      
    transform-origin: center;
    top: 400px;
    z-index: -1;
    padding-bottom: 40px;
}
.faixa-2 {
  top: 1100px;
}
@media (max-width: 768px) {
  .faixa-2 {
    top: 800px; 
  }
}

@media (max-width: 480px) {
  .faixa-2 {
    top: 600px; 
  }
}
.imagem-destaque {
  position: relative;
  z-index: 1;
  width: 80%;
  max-width: 680px;
  margin: 280px auto;
  display: block;
  border-radius: 40px;
}
.faixa-container p:last-of-type {
  margin-bottom: 0;
}


 