@font-face {
  font-family: 'AlumniSans-Thin';
  src: url("./DESIGN/fontes/fonts-alumni/ttf/AlumniSans-Thin.ttf") format('truetype');
}

#inicio{}
#serviços{}
#quem{}
#projetos{}
#orça{}

.menu ul{
  list-style: none;   
  display: flex;
  justify-content: center;
  margin-left:10px;
  gap: 40px;
  flex-wrap: wrap; 
 }
   
nav a:hover{
    color: #527ce8;}

/*design da fonte do menu*/
.menu-letras{
    font-family: AlumniSans-Thin;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none; 
    color: white;
    margin-top: 6px;
  }
/*RESPONSIVIDADE DO MENU DO HEADER*/
  @media (max-width: 768px) {
  .menu-letras {
    font-size: 18px;
    margin-top: 15px;
    padding: 5px;
  }

}

/*estrutura do menu que está no header*/
.menu-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #0F328A;
    height: 50px;
    padding: 0 10px;

}
/*removem os espaços padrão que os navegadores aplicam*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  overflow-x: hidden; /* bloqueia o scroll horizontal */
}

.relativo{
    background: url("./DESIGN/imagens-ini/foto1-azul.png")
              center/cover no-repeat;
    position: relative;
    padding: 460px;       
    display: flex;
    flex-direction: column;        
    align-items: center;           
    text-align: center;
    box-sizing: border-box;
}
.imagem1{
  width: 100vw;         
  height: auto;         
  display: block;        
}
.logo{
    position: absolute;
    width: 20%;
    height: auto;
    top: 50%;
    left: 50%;
    border-radius: 20px;    
    transform: translate(-50%,-50%);
}
@font-face {
  font-family: 'Geologica-Bold';
  src: url("./DESIGN/fontes/fonts-geologica//Geologica-Bold.ttf") format('truetype');
}
.mensag-header{
    font-family: 'Geologica-Bold';
    color: rgb(255, 255, 255);
    font-size: 40px;
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    margin-top: 40px;
}

@font-face {
  font-family: 'Geologica-Thin';
  src: url("./DESIGN/fontes/fonts-geologica//Geologica-Thin.ttf") format('truetype');
}

button{
    width: 340px;
    font-size: 23px;
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%);
    font-family: "Geologica-Thin";
    color: white;
    background-color: #0F328A;
    border-width: 5px;
    border-color: #0F328A;
    border-style: solid;
    border-radius: 8px;
    transition: all 0.3s ease;
}
button:hover {
  color: white;
  transform: translate(-50%) scale(1.05);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.ns{
  font-family: "Geologica-Bold";
  font-style: italic;
  text-align: center;
  margin-top: 40px;
  font-size: 30px;
  color: #214297;
}

.icones{
  width: 90px;
  height: auto;
}
.icones-grids{
  display: grid;
  grid-auto-flow: row; 
  grid-template-columns: repeat(3, 1fr); 
  justify-content: center;
  align-items: center;
  gap: 10px;
}